.search {
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

.search-title {
	margin: 0 auto;
	padding-top: 96px;
	margin-bottom: 20px;
}

.search-description {
	text-align: center;
	margin: 0 auto;
	width: 592px;
	margin-bottom: 54px;
}

.search-link {
	display: inline-block;
	min-width: 376px;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	line-height: 36px;
	font-family: inherit;
	padding: 8px 50px;
	margin-bottom: 96px;
}
