.advantages {
}

.advantages-container {
	max-width: 720px;
	padding: 69px 20px calc(69px + 21px);
	margin: 0 auto;
	text-align: center;
}

.advantages-title {
	display: block;
	margin-bottom: 25px;
}

.advantages-description {
	margin: 0;
}

.advantages-list {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.advantages-item {
	position: relative;
}

.advantages-item-container {
	position: relative;
	display: grid;
	width: 400px;
	place-items: center;
	place-content: center;
	min-height: 385px;
	padding: 20px;
}

.advantages-item-title::after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: rgb(255 255 255 / 0.3);
	margin-top: 30px;
	margin-left: calc(50% - 30px);
}

.advantages-item-container-line .advantages-item-title::after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: rgb(0 0 0 / 0.3);
	margin-top: 30px;
	margin-left: calc(50% - 30px);
}

.advantages-item-title {
	max-width: 175px;
}

.advantages-item-description {
	max-width: 230px;
	margin: 0;
}

.advantages-item-bridge img {
	order: -1;
}

.advantages-item-town,
.advantages-item-bridge {
	background-color: #82b3d3;
	display: flex;
}

.advantages-item-town .advantages-item-title,
.advantages-item-bridge .advantages-item-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 32px;
}

.advantages-item-town .advantages-item-description,
.advantages-item-bridge .advantages-item-description {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.advantages-item-square,
.advantages-item-tourists {
	background-color: rgb(131 179 211 / 0.12);
	width: 400px;
}

.advantages-item-square .advantages-item-title,
.advantages-item-road .advantages-item-title,
.advantages-item-tourists .advantages-item-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 32px;
}

.advantages-item-square .advantages-item-description,
.advantages-item-road .advantages-item-description,
.advantages-item-tourists .advantages-item-description {
	font-size: 18px;
	line-height: 21px;
}

.advantages-item-road {
	background-color: rgb(131 179 211 / 0.2);
	width: 400px;
}
