.button {
	color: #ffffff;
	background-color: #82b3d3;
	font-family: inherit;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
}

.button:hover {
	background-color: #68a2ca;
}

.button:focus {
	background-color: #68a2ca;
}

.button:active {
	color: rgb(255 255 255 / 0.3);
	background-color: #82b3d3;
}

.button--secondary {
	background-color: #756157;
}

.button--secondary:hover {
	background-color: #615048;
}

.button--secondary:focus {
	background-color: #615048;
}

.button--secondary:active {
	color: rgb(255 255 255 / 0.3);
	background-color: #756157;
}

.button--success {
	background-color: #7db54f;
}

.button--success:hover {
	background-color: #6c9e42;
}

.button--success:focus {
	background-color: #6c9e42;
}

.button--success:active {
	color: rgb(255 255 255 / 0.3);
	background-color: #7db54f;
}
