.page-header {
	background-color: #ffffff;
	color: #000000;
	padding: 0 70px;
	display: flex;
}

.header-logo {
	margin-right: 28px;
}

.header-logo-img {
	position: relative;
	z-index: 1;
	display: block;
	margin-bottom: -6px;
}

.navigation {
	display: flex;
}

.navigation-list {
	margin: 0;
	padding: 0;
	width: 470px;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.navigation-user {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 268px;
	margin-left: auto;
	list-style-type: none;
}

.navigation-link {
	color: inherit;
	background-color: inherit;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
	padding: 20px 16px;
	display: block;
}

.navigation-link:hover {
	background-color: rgba(131 179 211 / 0.12);
}

.navigation-link:focus {
	background-color: rgba(131 179 211 / 0.12);
	border: 1px solid #000000;
}

.navigation-link:active {
	background-color: rgb(131 179 211 / 0.2);
}

.navigation-item-success {
	position: relative;
}

.navigation-link-success::after {
	content: "";
	position: absolute;
	top: 98%;
	left: 16px;
	right: 16px;
	bottom: 0;
	height: 0;
	border: 2px solid #756257;
}

.navigation-user-link {
	display: block;
	min-height: 64px;
	min-width: 44px;
}

.navigation-user-search {
	background-image: url(../../images/icons/icon-search.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.navigation-user-like {
	background-image: url(../../images/icons/icon-heart.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.favorite-number {
	font-weight: 400;
	font-size: 10px;
	line-height: 10px;
	padding: 5px;
	text-align: center;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: #ffffff;
	background-color: #7db54f;
	top: 11px;
}

.navigation-user-item:last-child {
	margin-left: 20px;
}

.navigation-button {
	margin-left: auto;
	display: block;
	padding: 8px 34px;
}
