.subscribe {
	color: #000000;
	padding-bottom: 104px;
	padding-top: 96px;
}

.subscribe--bg {
	color: #ffffff;
	background-color: #524ea3;
	background-image: url("../images/subscribe.jpg");
	background-size: cover;
}

.subscribe-title {
	margin: 0 auto;
	margin-bottom: 20px;
}

.subscribe-description {
	text-align: center;
	width: 475px;
	margin: 0 auto;
	margin-bottom: 54px;
}

.input-container {
	display: flex;
	justify-content: center;
}

.subscribe-input {
	min-width: 454px;
	font-family: inherit;
	font-weight: 400;
	font-size: 18px;
	background-color: #f2f2f2;
	line-height: 24px;
	border-radius: 4px 0 0 4px;
	border: 1px solid transparent;
	padding: 13px 21px;
}

.subscribe-input:hover,
.subscribe-input:focus-visible {
	border: 2px solid #000000;
}

.subscribe-input:disabled {
	border: none;
}

.subscribe-email-button {
	font-family: inherit;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	padding: 8px 50px;
	border-radius: 0 4px 4px 0;
	min-width: 232px;
}
