@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

html {
	background-color: #f2f2f2;
	height: 100%;
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	box-shadow: 0 0 15px rgb(0 0 0 / 0.2);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-width: 1200px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

.visually-hidden {
	display: none;
}

.main-index {
	width: 1200px;
	margin: 0 auto;
	flex-grow: 1;
}

.button {
	color: #ffffff;
	background-color: #82b3d3;
	font-family: inherit;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	border: none;
	border-radius: 4px;
}

.button--secondary {
	background-color: #756157;
}

.button--tertiary {
	background-color: #7db54f;
}

.main-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
}

.page-header {
	background-color: #ffffff;
	color: #000000;
	margin: 0 auto;
	width: 1200px;
}

.header-container {
	width: 1060px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.header-logo {
	margin-right: 28px;
}

.navigation {
	display: flex;
}

.navigation-link {
	color: inherit;
	background-color: inherit;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
}

.hero {
	background-color: #524ea3;
	background-image: url("../images/index-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-img-logo {
	display: block;
	margin: 0 auto;
}

.advantages-title {
	display: block;
	width: 620px;
	margin: 0 auto;
}

.advantages-description {
	text-align: center;
	margin: 0 auto;
}

.advantages-list {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.advantages-item-town,
.advantages-item-bridge {
	background-color: #82b3d3;
	display: flex;
}

.advantages-item-town h3,
.advantages-item-bridge h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #ffffff;
	text-transform: uppercase;
}

.advantages-item-town p,
.advantages-item-bridge p {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.advantages-item-square,
.advantages-item-tourists {
	background-color: rgb(131 179 211 / 0.12);
	width: 400px;
}

.advantages-item-square h3,
.advantages-item-road h3,
.advantages-item-tourists h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.advantages-item-square p,
.advantages-item-road p,
.advantages-item-tourists p {
	font-size: 18px;
	line-height: 21px;
}

.advantages-item-road {
	background-color: rgb(131 179 211 / 0.2);
	width: 400px;
}

.service-title {
	display: block;
	margin: 0 auto;
	width: 505px;
}

.service-description {
	text-align: center;
	width: 490px;
	margin: 0 auto;
}

.service-company-list {
	text-align: center;
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.service-company-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.service-company-description {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}

.service-company-item-hous,
.service-company-item-souvenirs {
	background-color: rgb(131 179 211 / 0.12);
}

.search-title {
	margin: 0 auto;
}

.search-description {
	text-align: center;
	margin: 0 auto;
	width: 592px;
}

.search-link {
	display: block;
	width: 376px;
	text-align: center;
	margin: 0 auto;
}

.subscribe {
	background-color: #524ea3;
	background-image: url("../images/Subscribe.jpg");
	background-size: cover;
}

.subscribe-title {
	color: #ffffff;
	margin: 0 auto;
}

.subscribe-description {
	color: #ffffff;
	text-align: center;
	width: 475px;
	margin: 0 auto;
}

.input-container {
	width: 684px;
	margin: 0 auto;
}

.subscribe-input {
	width: 452px;
	height: 52px;
}

.page-footer {
	width: 1200px;
}

.footer-container {
	width: 1060px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.footer-contacts-phone {
	text-decoration: none;
	font-style: normal;
	text-transform: uppercase;
	color: #000000;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
}

.filter-container {
	background-color: #524ea3;
	background-image: url("../images/filter.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.header-inner-title {
	font-weight: 700;
	color: #ffffff;
	font-size: 60px;
	line-height: 78px;
}

.header-inner-list {
	list-style-type: none;
}

.header-inner-link {
	text-decoration: none;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

.filter-group-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
}

.filter-list {
	list-style-type: none;
}

.control-infrastructure {
	font-size: 18px;
	line-height: 23px;
	color: #ffffff;
}

.filter-button {
	background-color: rgb(0 0 0 / 0);
}

.catalog-description {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.catalog-select {
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	padding: 14px 20px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
}

.catalog-list {
	list-style-type: none;
}

.catalog-item-title {
	font-weight: 700;
	font-style: 24px;
	line-height: 28px;
}

.catalog-item-description,
.catalog-item-price {
	font-weight: 400;
	font-style: 18px;
	line-height: 21px;
}

.catalog-item-raiting-description {
	font-size: 16px;
	line-height: 20px;
	padding: 9px 22px 8px 23px;
	border-color: #f2f2f2;
}

.catalog-pagination-list {
	list-style-type: none;
}

.catalog-pagination-item {
	display: inline;
}
