@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

html {
	background-color: #f2f2f2;
	height: 100%;
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	box-shadow: 0 0 15px rgb(0 0 0 / 0.2);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-width: 1200px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-index {
	flex-grow: 1;
}

.button {
	color: #ffffff;
	background-color: #82b3d3;
	font-family: inherit;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	border: none;
	border-radius: 4px;
}

.button--secondary {
	background-color: #756157;
}

.button--success {
	background-color: #7db54f;
}

.main-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
}

.page-header {
	background-color: #ffffff;
	color: #000000;
	padding: 0 70px;
	display: flex;
}

.header-logo {
	margin-right: 28px;
}

.navigation {
	display: flex;
}

.navigation-list {
	margin: 0;
	padding: 0;
	width: 470px;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.navigation-user {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 268px;
	margin-left: auto;
	list-style-type: none;
}

.navigation-link {
	color: inherit;
	background-color: inherit;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
	padding: 20px 16px;
	display: block;
}

.navigation-user-link {
	display: block;
	min-height: 64px;
	min-width: 44px;
}

.navigation-user-item:last-child {
	margin-left: 20px;
}

.navigation-button {
	margin-left: auto;
	display: block;
	padding: 8px 34px;
}

.hero {
	background-color: #524ea3;
	background-image: url("../images/index-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-img-logo {
	padding-top: 51px;
	padding-bottom: 82px;
	display: block;
	margin: 0 auto;
}

.advantages {
	background-color: #ffffff;
}

.advantages-container {
	margin-bottom: 21px;
}

.advantages-title {
	padding-top: 69px;
	display: block;
	width: 620px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.advantages-description {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 69px;
}

.advantages-list {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.advantages-item-container {
	display: flex;
	flex-direction: column;
	padding: 102px 82px;
}

.advantages-item-bridge img {
	order: -1;
}

.advantages-item-town,
.advantages-item-bridge {
	background-color: #82b3d3;
	display: flex;
}

.advantages-item-town h3,
.advantages-item-bridge h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 62px;
}

.advantages-item-town p,
.advantages-item-bridge p {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.advantages-item-square,
.advantages-item-tourists {
	background-color: rgb(131 179 211 / 0.12);
	width: 400px;
}

.advantages-item-square h3,
.advantages-item-road h3,
.advantages-item-tourists h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 62px;
}

.advantages-item-square p,
.advantages-item-road p,
.advantages-item-tourists p {
	font-size: 18px;
	line-height: 21px;
}

.advantages-item-road {
	background-color: rgb(131 179 211 / 0.2);
	width: 400px;
}

.service-title {
	display: block;
	margin: 0 auto;
	width: 505px;
	padding-top: 64px;
	margin-bottom: 20px;
}

.service-description {
	text-align: center;
	width: 490px;
	margin: 0 auto;
	padding-bottom: 64px;
}

.service-company-list {
	text-align: center;
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.service-company-item {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.service-company-container {
	padding: 81px 85px;
}

.service-company-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	padding-top: 102px;
	margin-bottom: 30px;
}

.service-company-description {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	margin: 0;
	padding: 0;
}

.service-company-item-hous,
.service-company-item-souvenirs {
	background-color: rgb(131 179 211 / 0.12);
}

.search {
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

.search-title {
	margin: 0 auto;
	padding-top: 96px;
	margin-bottom: 20px;
}

.search-description {
	text-align: center;
	margin: 0 auto;
	width: 592px;
	margin-bottom: 54px;
}

.search-link {
	display: inline-block;
	min-width: 376px;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	line-height: 36px;
	font-family: inherit;
	padding: 8px 50px;
	margin-bottom: 96px;
}

.subscribe {
	background-color: #524ea3;
	background-image: url("../images/Subscribe.jpg");
	background-size: cover;
}

.subscribe-title {
	padding-top: 96px;
	color: #ffffff;
	margin: 0 auto;
	margin-bottom: 20px;
}

.subscribe-description {
	color: #ffffff;
	text-align: center;
	width: 475px;
	margin: 0 auto;
	margin-bottom: 54px;
}

.input-container {
	width: 690px;
	margin: 0 auto;
	padding-bottom: 104px;
}

.subscribe-input {
	min-width: 452px;
	min-height: 52px;
	font-family: inherit;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: rgb(0 0 0 / 60%);
	margin-right: 0;
}

.subscribe-email-button {
	font-size: 20px;
	line-height: 36px;
	padding: 8px 50px;
}

.page-footer {
	display: flex;
	width: 1200px;
	padding: 0 70px;
}

.footer-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-right: 41px;
	width: 142px;
}

.footer-link {
	display: block;
	min-height: 40px;
	min-width: 47px;
}

.footer-contacts-phone {
	text-decoration: none;
	font-style: normal;
	text-transform: uppercase;
	color: #000000;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	padding: 5px 195px;
	width: 720px;
}

.footer-logo {
	margin-left: 41px;
	display: block;
}

.filter-container {
	background-color: #524ea3;
	background-image: url("../images/filter.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0 70px;
}

.header-inner-list {
	display: flex;
	list-style-type: none;
}

.header-inner-item {
	margin-right: 29px;
}

.header-inner-title {
	font-weight: 700;
	color: #ffffff;
	font-size: 60px;
	line-height: 78px;
	margin: 0;
}

.header-inner-link {
	text-decoration: none;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

.filter-form {
	display: flex;
	justify-content: space-between;
}

.filter-group {
	width: 150px;
	margin-right: 70px;
}

.filter-price {
	width: 288px;
	margin-left: 70px;
	margin-right: 70px;
}

.filter-group-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
}

.filter-list,
.menu-filter-list {
	list-style-type: none;
}

.control-infrastructure {
	font-size: 18px;
	line-height: 23px;
	color: #ffffff;
}

.filter-button {
	background-color: rgb(0 0 0 / 0);
}

.catalog-container {
	padding: 0 70px;
	display: flex;
	align-items: center;
}

.catalog-description {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.catalog-description-number {
	margin-right: 200px;
}

.catalog-select {
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	width: 292px;
	height: 49px;
	margin-right: 70px;
}

.catalog-button-container {
	display: flex;
	width: 360px;
	margin: 0 auto;
	justify-content: end;
}

.catalog-button {
	display: block;
	min-height: 48px;
	min-width: 48px;
}

.catalog-button:not(:last-child) {
	margin-right: 8px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.catalog-item {
	width: 340px;
}

.catalog-item:not(:nth-child(3n)) {
	margin-right: 20px;
}

.catalog-item-title {
	font-weight: 700;
	font-style: 24px;
	line-height: 28px;
}

.catalog-item-description,
.catalog-item-price {
	font-weight: 400;
	font-style: 18px;
	line-height: 21px;
}

.catalog-item-raiting-description {
	font-size: 16px;
	line-height: 20px;
	padding: 9px 22px 8px 23px;
	border-color: #f2f2f2;
}

.catalog-pagination-list {
	list-style-type: none;
	display: flex;
}

.catalog-pagination-item:not(:last-child) {
	margin-right: 8px;
}

.catalog-pagination-link {
	display: block;
	line-height: 36px;
	min-width: 60px;
	padding: 12px 24px;
}
